!!!
%html
  %head
    %title
    %link{href: "/home.css", rel: "stylesheet", type: "text/css"}
    %script{src: "/jquery.min.js"}
    %script{src: "/main.js"}
  %body
    .wrapper
      %h1
        Gone with the valuations:
        %br
        the story of the dot-com bubble
      =yield
      %br
      %a{href: "https://news.ycombinator.com/item?id=8781768"} The HN Thread that these comments are from
      %br
      .footer
        Made for fun by 
        %a{href: "http://twitter.com/zachfeldman"} @zachfeldman
        %br
        %a{href: "https://github.com/zachfeldman/dotcomsgone.com"} Fork me on GitHub